<h1>new페이지입니다.</h1>
<!--<form action="/posts/create" method="POST">-->
<!--    <div class="title">-->
<!--        제목:<input type="text" name="title" />-->
<!--    </div>-->
<!--    내용:<textarea type="text" name="content"></textarea>-->
<!--    <button type="submit">제출</button>-->
<!--</form>-->

<%= render 'form' %>